@mixin container {
  width: $container-mobile;
  margin-right: auto;
  margin-left: auto;

  @media #{$tablet-widths} {
    width: $container-tablet;
  }

  @media #{$desktop-widths} {
    width: $container-desktop;
  }
}

@mixin container-wider {
  width: 280px;
  margin-right: auto;
  margin-left: auto;

  @media #{$tablet-widths} {
    width: $container-tablet;
  }

  @media #{$desktop-widths} {
    width: $container-desktop;
  }
}

@mixin sweetcake-btn {
  display: inline-block;

  font-weight: 400;

  cursor: pointer;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  white-space: word-wrap;
  text-decoration: none;
  text-transform: uppercase;

  border: none;
  box-shadow: none;

  /*  @include transition($btn-transition);*/

  //&hover and focus styles
  &:hover,
  &:focus,
  &.focus {
    text-decoration: none;

    outline: 0;
    box-shadow: 1px 1px 0 rgba(125, 125, 125, 0.75);
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: 0.65;
    box-shadow: none;
  }

  &:active,
  &.active {
    background-image: none;
    box-shadow: inset 0 1px 4px rgba(125, 125, 125, 0.75);
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

@mixin anchors($position, $up-bg-color, $up-arrow-color, $down-bg-color, $down-arrow-color) {
  position: absolute;
  left: 50%;

  font-size: 0;

  @if ($position == "top") {
    top: 0;

    transform: translate(-50%,-100%);
  }

  @else if ($position == "bottom") {
    bottom: 0;

    transform: translate(-50%);
  }

  .anchor-up {
    display: inline-block;

    a {
      display: block;

      color: $up-arrow-color;
    }

    svg {
      fill: $up-bg-color;

      path:nth-of-type(2) {
        stroke: currentColor;
      }
    }
  }

  .anchor-down {
    display: inline-block;

    transform: translateY(100%) rotate(180deg);

    a {
      display: block;

      color: $down-arrow-color;
    }

    svg {
      fill: $down-bg-color;

      path:nth-of-type(2) {
        stroke: currentColor;
      }
    }
  }
}

@mixin section-title($text-color, $shadow-color) {
  margin: 50px 0;

  font-family: "Lobster13", Arial, sans-serif;
  font-size: 5rem;
  font-weight: 400;
  font-style: normal;

  text-align: center;

  color: $text-color;
  text-shadow: 3px 3px 0 $shadow-color;
}

/*
* Set background colors from color collections of fixed number of colors to n elements
*/
@mixin set-btn-color {
  $color-collection: (#e1a4a4, #a4dce1, #e1d9a4, #93cdc5, #bee1a4);
  $n: 15;
  $j: 1;

  @for $i from 0 through ($n - 1) {
    @if ($i < length($color-collection)) {
      $j: $i+1;
    }
    @else {
      $j: $i%length($color-collection)+1;
    }

    &:nth-child(#{$i + 1}) {
      background-color: #{nth($color-collection,$j)};
    };
  }
}

@mixin top-wave {
  position: relative;

  &:before {
    position: absolute;
    z-index: 410;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 16px;

    content: "";

    background-image: url("img/top-wave.png");
    background-repeat: repeat-x;
    background-size: 44px;
    /*background: -webkit-linear-gradient(#ffffff 50%, rgba(255,255,255,0) 0%) 0 0,
    radial-gradient(circle closest-side, #FFFFFF 50%, rgba(255,255,255,0) 0) 0 0,
    radial-gradient(circle closest-side, #FFFFFF 50%, rgba(255,255,255,0) 0) 40px 0 transparent;
    background-size: 80px 110px;
    background-repeat:repeat-x;*/
  }
}

@mixin bottom-wave {
  position: relative;

  &:after {
    position: absolute;
    z-index: 410;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 16px;

    content: "";
    transform: rotate(180deg);

    background-image: url("img/top-wave.png");
    background-repeat: repeat-x;
    background-size: 44px;
    /*background: -webkit-linear-gradient(#ffffff 50%, rgba(255,255,255,0) 0%) 0 0,
    radial-gradient(circle closest-side, #FFFFFF 50%, rgba(255,255,255,0) 0) 0 0,
    radial-gradient(circle closest-side, #FFFFFF 50%, rgba(255,255,255,0) 0) 40px 0 transparent;
    background-size: 80px 110px;
    background-repeat:repeat-x;*/
  }
}
