.main-navigation {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
  padding-top: 13px;
  .menu-header-left-menu-container,
  .menu-header-right-menu-container {
    display: flex;
    align-items: center;
    .menu-item {
      margin-right: 19px;
      &:last-child {
        margin-right: 0;
      }
      a {
        display: block;
        padding: 19px 10px;
        border-top: 1px dashed #d6d5d5;
        border-bottom: 1px dashed #d6d5d5;
        font-family: 'Lobster_1_3';
        font-style: normal;
        font-size: 2rem;
        color: #7d7d7d;
      }
    }
  }
  .menu-header-left-menu-container {
    margin-right: 57px;
  }
  .menu-header-right-menu-container{
    margin-left: 50px;
  }
  .custom-logo-place {
    display: block;
    position: relative;
    width: 180px;
    height: 180px;
    z-index: 100;
  }
  .custom-logo {
    position: absolute;
    top: 0;
    left: 0;
  }
}
