.slider-main {
  position: relative;
  @include top-wave;
  @include bottom-wave;
}
.slider-main-item {
  position: relative;
  height: 500px;
  width: 100%;
  img {
    object-position: left bottom;
    //object-fit: none;
  }
  h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Lobster13';
    color: #ffffff;
    font-size: 7.2rem;
    text-shadow: 2px 2px 8px #000;
  }
}
.slider-nav-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-20px); //0.5 from .owl-prev .owl-next buttons height
  z-index: 100;
  .owl-prev,
  .owl-next {
    @include sweetcake-btn;
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: #f1bebe;
    border: 3px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      background-color: #e1a4a4;
    }
    span {
      color: #ffffff;
      font-size: 30px;
    }
  }
  .owl-prev {
    position: absolute;
    top:0;
    left: 20px;
    z-index: 100;
  }
  .owl-next {
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 100;
  }
}

@media #{$mobile-widths-only} {
  .slider-main-item {
    height: auto;
    h2 {
      font-size: 2rem;
    }
  }
}
