.sweetcake-works {
  display: flex;
  flex-direction: column;

  padding-bottom: 110px;

  border-top: 1px solid transparent;
  background-image: url("img/bg-white.png");
  background-repeat: repeat;

  .works-title {
    @include section-title(#7d7d7d, rgba(223, 223, 223, 0.9));
  }

  .works-title-wrapper {
    position: relative;

    margin-top: 70px;
    margin-bottom: 30px;

    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    background-image: url("img/divider-heart.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 580px auto;

    @include container;

    &::after {
      position: absolute;
      bottom: 0;
      left: 50%;

      width: 100%;
      height: 44px;

      content: "";
      transform: translateX(-50%);
    }
  }

  .works-list {
    @include container-wider;
    order: 2;
  }

  .works-item {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 279px;
    min-height: 400px;
    margin: 10px;

    border: 1px solid #ececec;
    background-color: #f5f5f5;

    justify-content: flex-start;

    &::after {
      position: absolute;
      z-index: 100;
      bottom: 0;
      left: 0;

      display: block;

      width: 100%;
      height: 5px;

      content: "";

      background-image: url("img/work-bg-bottom.png");
      background-repeat: repeat-x;
    }
  }

  .works-item-img-wrapper {
    position: relative;

    &:hover {
      img {
        transform: scale(1.1);

        opacity: 0.8;
      }

      &::after {
        transform: translate(-50%, 50%) rotate(360deg);
      }
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 50%;

      width: 44px;
      height: 43px;

      content: "";
      transition: 0.5s;
      transform: translate(-50%, 50%) rotate(0deg);

      color: #ffffff;
      border: 5px solid #f5f5f5;
      border-radius: 50%;
      background: url("img/arrow-up.svg") no-repeat center/22px 12px,
        repeating-linear-gradient(-45deg,
        #dc9198,
        #dc9198 2px,
        #e2a1af 2px,
        #e2a1af 4px);
      background-color: #ecabae;
    }
  }

  .works-item-img {
    position: relative;

    overflow: hidden;

    width: 100%;

    font-size: 0;

    img {
      transition: 0.5s;
    }
  }

  .work-item-desc {
    position: relative;

    display: flex;
    flex-direction: column;

    margin: 0 30px;
    padding-top: 28px;

    font-family: "Oswald", "Arial", sans-serif;
    font-size: 1.7rem;
    font-weight: 400;
    font-style: normal;

    text-align: center;

    color: #a9a9a9;

    flex-grow: 1;

    p:first-of-type {
      margin-top: 0;
    }
  }

  .work-item-title {
    margin: 4px 0;

    font-family: "Lobster13", "Arial", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;

    text-align: center;

    color: #6e6e6e;
  }

  .work-item-text {
    display: flex;
    flex-direction: column;

    justify-content: center;
    flex-grow: 1;
  }

  .terms-buttons {
    display: flex;

    flex-wrap: wrap;
    justify-content: center;

    @include container-wider;
  }

  .terms-buttons-item {
    margin-right: 21px;
    margin-bottom: 30px;
    padding: 6px 10px;

    font-family: "Oswald", "Arial", sans-serif;
    font-size: 1.7rem;
    font-weight: 300;
    font-style: normal;

    text-transform: capitalize;

    color: #ffffff;

    order: 1;

    @include sweetcake-btn;
    @include set-btn-color;

    &:active,
    &.active {
      box-shadow: inset 1px 2px 0 rgba(197, 153, 154, 0.75);
    }
  }
}

@media #{$mobile-widths-only} {
  .sweetcake-works {
    .works-item {
      margin-right: 0;
      margin-left: 0;
    }
  }
}
